// ============================================= 
//                Variables                      
// ============================================= 

// Colors
$color-font-primary: #222;
$color-font-secondary: #777777;

$color-primary: #6264a3;
$color-secondary: #cccccc;
$color-white: #fff;
$color-warning: #ed5a5a;
$color-nav: #43456d;
$color-bg: #f6f7f7;
$color-info: #9fa2e5;

$btn-primary: #7477bf;
$btn-cancel: #999999;

// Fonts
$font-family-primary: 'Roboto', sans-serif;
$font-family-secondary: 'Raleway', sans-serif;

// Layout
$min-width: 320px;
$max-width: 1920px;
$nav-width: 55px;

// Breakpoints
$breakpoint-s: 450px;
$breakpoint-m: 768px;
$breakpoint-l: 1024px;

// Border
$brdr-primary: 1px solid #cccccc;
$brdr-toggle: 2px solid rgb(182, 184, 245);
